<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                				template="/template/template.xhtml" >             
                	
				<ui:define name="pageTitle">add exhib</ui:define>	
				<ui:define name="pageContent">
				<h:form>
					<h:panelGrid columns="2">
						<h:outputText value="name" />
						<h:inputText value="#{virtualBean.virtualexhib.name}" />
						<h:outputText value="price" />
						<h:inputText value="#{virtualBean.virtualexhib.price}" />
							<h:commandButton actionListener="#{virtualBean.doSave}" value="save"/>
						</h:panelGrid>
				</h:form>
				</ui:define>
</ui:composition>